.transition{
    color: cadetblue;
    background-color: aquamarine;
    transition: background-color 2s,color 2s,width 2s ,height 4s,transform 1s;
    opacity: 1;
}
.transition:hover{
    background-color: dimgray;
    color: cyan;
    padding : 30px;
    padding: 30px;
    height: 100px;
    width: 300px;
    transform: rotate(360deg);
    opacity: 0.9;
}

@keyframes animationDiv{
    0%{
        
        left: 0px;
        top: 0px;
    }
    25%{
        left: 100px;
        top: 0px;
    }
    50%{
        left: 100px;
        top: 100px;
        
    }
    75%{
        left: 0px;
        top: 100px;
    }
    100%{
        left: 0px;
        top: 100px;
    }
}
.animation{
    animation-name: animationDiv;
    background-color: coral;
    height: 100px;
    width: 100px;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}